<!DOCTYPE html>
<html>
    <head>
        <script type = "application/json" src="/__/firebase/7.12.0/firebase-app.js"></script>
    </head>

    <body> 
        <p>{{errorMessage}}</p>
    </body>
</html>