<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="module" src="../js/client.js"></script> 
  </head>

  <body id="body">
      {{!-- <div id="header">
        <div class="headerButton" id="home" onclick='location.href="/"'>Home</div>
        <div class="headerButton" id="downloads" onclick='location.href="downloads"'>Downloads</div>
        <div class="headerButton" id="about" onclick='location.href="about"'>About</div>
      </div> --}}

      <div id="main">
        <div id="map" ></div>
        <div id="info">
          <input id="searchbar" placeholder="Search polygons by OI KEY"/>
          <div id="infoTitle"></div>
          <div id="downloadButton" class="infoButton" style="visibility: hidden;">Download CSV File</div>
          <div id="plot1"></div>
          <div id="toggleButton" class="infoButton" style="visibility: hidden;">Expand Table</div>
          <div id="table"></div>
        </div>
        <div id="hideButton">
          <svg viewBox="0 0 63 86.6">
              <polygon points="63 43.3 0 0 0 86.6 63 43.3" />
          </svg>
        </div>
      </div>
  </body>
</html>