<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  </head>

  <body id="body">
    <div id="header">
      <div class="button" id="home" tabindex="0">Home</div>
      <div class="button" id="downloads" tabindex="0">Downloads</div>
      <div class="button" id="about" tabindex="0">About</div>

      <form id="searchbar">
          <!--
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <input type="radio" name="radioButton" value="ID" checked>
              <label for="ID">ID</label>
              <input type="radio" name="radioButton" value="OI_KEY">
              <label for="OI_KEY">OI_KEY</label>
            </div>
          </div> -->
          <div id="radioButtons">
            <input type="radio" name="radioButton" value="ID" tabindex="0" checked>
            <label for="ID">ID</label>
            <input type="radio" name="radioButton" value="OI_KEY" tabindex="0">
            <label for="OI_KEY">OI_KEY</label>
          </div>
          <input id="searchbarContent" placeholder="Search polygons" tabindex="0"/>
          <img id="searchbarIcon" src="../img/search_icon.png" tabindex="0"/>
      </form>
      <br>
    </div>
    <div id="mapParent">
      <div id="map"></div>
      <div id="popup"></div>
    </div>
    <div id="footer"></div>

  <script type="module" src="../js/client.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/7.12.0/firebase-app.js"></script>

  <script src="/__/firebase/7.12.0/firebase-storage.js"></script>

  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>

  </body>
</html>