<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  </head>

  <body id="body">
    <div id="header">
      <a href="/1.29 Mingplosion.png" download>
    <button>Download Image</button>
      </a>
      <div class="button" id="home">Home</div>
      <div class="button" id="downloads">Downloads</div>
      <div class="button" id="about">About</div>
      <div id="searchbar">
        <input id="searchbarContent" placeholder="Search polygons"/>
        <img id="searchbarIcon" src="../img/search_icon.png" />
      </div>
    </div>
    <div id="mapParent">
      <div id="map"></div>
      <div id="popup"></div>
    </div>
    <div id="footer"></div>

  <script type="module" src="../js/client.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/7.12.0/firebase-app.js"></script>

  <script src="/__/firebase/7.12.0/firebase-storage.js"></script>

  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>

  </body>
</html>