@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    height:100%;
    padding:0;
    margin:0;
    background: black;
}

#header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #303030;
    align-items: center;
    color: #FFF;
}

.headerButton {
    height: 100%;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.headerButton:hover {
    color: #c0c0c0;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

#map {
    flex: 1;
    height: 100%;
}

#info {
    background: #f0f0f0;
    max-width: 500px;
    width: 500px;
    overflow-y: auto;
}

#infoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 10px;
}

.infoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 150px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #c0c0c0;
}

.infoButton:hover {
    background: #f0f0f0;
}

#toggleButton {
    margin: 10px 175px;
}

#searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    font-size: 18px;
}

#searchbarIcon {
    fill: #fff;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#searchbarIcon:hover {
    fill: #c0c0c0;
}

#searchbarContent {
    margin-left: 16px;
    height: 50%;
    font-size: 16px;
    padding: 0 5px;
    background: #f5f5f5;
    border: 1px solid #cfcfcf;
    min-width: 400px;
}

#plot1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 480px;
    width: 480px;
}

#table {
    border-collapse: collapse;
    font: 12px sans-serif;
}

#table td {
    border: 1px black solid;
    padding: 5px;
}

#hideButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 20px;
    height: 40px;
    right: 476px;
    top: 50%;
    fill: rgb(64, 64, 64);
    border-radius: 0 9px 9px 0;
    border: 2px solid rgb(187, 187, 187);
    background: #f0f0f0;
    z-index: 401;
}

#hideButton svg {
    width: 8.7px;
    height: 13.1px;
}

#hideButton:hover {
    cursor: pointer;
    background: rgb(179, 217, 255);
}