html {
    height: 100%;
    
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#header {
    display: 
    background: red;
    flex: 1;
}

#map {
    background: orange;
    flex: 15;
}

#footer {
    background: blue;
    flex: 1;
}