html {
    height: 100%;
    
}
body {
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#header {
    display: flex; 
    background: #303030;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #FFF;
    padding-left: 10px;
}

#map {
    flex: 15;
}

#footer {
    background: #000;
    flex: 1;
}

#popup {
    background: green;
    flex: 0;
}

.button {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.button:hover {
    color: #87C3D0;
}